html {
  font-family: sans-serif;
}

body {
  line-height: 1.5;
}

.Wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.Title {
  text-align: center;
}

.Stack > * {
  margin: 0;
}

.Stack > * + * {
  margin-top: 2rem;
}

.Form {
  display: flex;
  align-items: center;
}

.Result {
  text-align: center;
  font-size: 1.5rem;
}
