.slider {
  overflow: hidden;
}

.slider-slides {
  display: flex;
  height: 400px;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;
}

.slider-slide {
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.slider-slide:nth-child(1) {
  background-color: red;
}

.slider-slide:nth-child(2) {
  background-color: green;
}

.slider-slide:nth-child(3) {
  background-color: blue;
}
