html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

button:not(:disabled) {
	cursor: pointer;
}

.menu__trigger {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 8px 16px;
	font-size: 0.875rem;
	border-radius: 9999px;
	border: 1px solid #18181b20;
	background-color: white;
}

.menu__overlay {
	position: fixed;
	inset: 0;
	background-color: black;
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s ease-in;
}

.menu[aria-expanded="true"] .menu__overlay {
	opacity: 0.4;
	visibility: visible;
	transition-timing-function: ease-out;
}

.menu__panel {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	background-color: white;
	opacity: 0;
	visibility: hidden;
	translate: -100%;
	transition: all 0.25s ease-in;
}

.menu[aria-expanded="true"] .menu__panel {
	opacity: 1;
	visibility: visible;
	translate: 0;
	transition-timing-function: ease-out;
}

.menu__close {
	border: 0;
	background-color: transparent;
	padding: 1rem;
}
