.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

.modal-open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: absolute;
  width: 90%;
  max-width: 600px;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}
