.slider {
  overflow: hidden;
}

.slider-slides {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slider-slide {
  flex-basis: 100%;
  flex-shrink: 0;
  height: 100px;
}

.slider-slide:nth-child(1) {
  background-color: red;
}

.slider-slide:nth-child(2) {
  background-color: green;
}

.slider-slide:nth-child(3) {
  background-color: blue;
}
